# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories (if not using Go modules)
vendor/

# Go workspace file
go.work
go.work.sum


# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

*.tgz